<VirtualHost *:{{ apache_listen_port }}>
    ServerName devel-mail
    ServerAlias devel-mail*
    ProxyPass / http://127.0.0.1:1080/
    ProxyPassReverse / http://127.0.0.1:1080/

  {% if apache_htpasswd_file %}
  <Location />
    AuthType Basic
    AuthName "Restricted access"
    AuthUserFile /etc/apache2/htpasswd/{{ apache_htpasswd_file }}
    require valid-user
    </Location>
  {% endif %}
</VirtualHost>